
//variables pag Articulos//
$transparente-color: #ebebeb72; 
$h2Articulos-font: 1.1rem;
$PrecioArticulos-font: .9rem;
$ColorFondo-color: rgba(0, 0, 0, 0.256);
$ColorNegro-color: #000;
$ColorBlanco-color: rgb(255, 255, 255);

//variables pag Articulos//