/**** Empeiza seccion *****/
.sectionIndex {
    grid-area: section;
    width: auto;
    @include displayFlex_center();
    background-color: $ColorFondo-color;

    div {
        background-color: black;
        width: 70%;
        margin: 4%;
        height: auto;
        padding: 2%;
        opacity: .95;
        border: 1px solid white;
        border-radius: 10px;
        box-shadow: 0 0 30px rgb(114, 113, 70);
        display: flex;
        justify-content: center;
        flex-direction: column;
        

        h2{
            font-family: 'Linden Hill', serif;
            color: white;
            font-size: 2rem;
        }

        p {
            color: rgb(243, 235, 235);
            font-size: 1.1rem;
            
        }
    }
}
/**** Termina seccion *****/
