//Empieza h3 de lista en pagina Libros por ahora//
.aside__ol-titulo{
    color: rgb(174, 172, 156);
    margin-left: 5vh;
    margin-right: 5vh;
    text-decoration:underline;
    font-family: 'League Spartan', sans-serif;
    font-weight: 700;
}

//Empieza h3 de lista en pagina Libros por ahora//